<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<p>
<strong>Photo:</strong>
<%= image_tag @article.photo %>
</p>

<p>
<strong>Originally Posted:</strong>
<%= @article.created_at %>
</p>

<p>
<strong>Last Updated:</strong>
<%= @article.updated_at %>
</p>
